@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  ;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {

    --background: 216, 6%, 17%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 318, 12%, 21%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  ;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 347, 83%, 60%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  
    --video-player-scrubber-height: 15px;
    
    --video-player-scrubber-dot-size: 10px;

    --video-player-controls-height: 50px;
  }

  html {
    font-family: 'Mona Sans', sans-serif;
  }
}

.bg-background{
  background-color: #2E3234;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.nav-linear-gradient{
  background: linear-gradient(15deg, #EE4266,#aa507a );
  filter: drop-shadow(0px 3px 1px rgba(0,0,0,0.1));
}

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


.video-client-player{
  transition: bottom 0.5s ease-in-out;
}

.video-client-player:hover .controls{
  opacity: 1;
  bottom: 1px;
}
.scrubber-container{
  /* transition: height 0.25s ease-in-out; */
  transition: filter 0.25s ease-in-out;
  /* height: 20px; */
}
.scrubber-container:hover{
  filter:drop-shadow(2px 3px 3px rgba(0,0,0,0.5))
}
.scrubber{
  /* transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; */
}


.scrubber-container:hover .scrubber{

  opacity: 1;
}

.scrubber-container:hover .scrubber-dot{
  opacity: 0.85;
  transform: scale(1.0);

}
.monetization-bar{
  opacity:1;
  /* height: 2px; */
  transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out, height 0.25s ease-in-out;
}
.scrubber-container:hover .monetization-bar{
  top:0;
  opacity: 1;
  /* height: 10px; */
  /* background-color: coral; */
}

.monetization-timeline-container {
  cursor: pointer;
}
.monetization-timeline-container .mouse-line{
  opacity: 0.0;
  transition: opacity 0.25s ease-in-out;
}

.monetization-timeline-container:hover .mouse-line{
  opacity: 1.0;
}