.anchor
.DS_Store
target/debug
target/deploy
target/release
target/sbf-solana-solana
target/.rustc_info.json
**/*.rs.bk
node_modules
test-ledger
.yarn
wallet/
.env
.env.local

# Allow
!target/idl/dripcast.json
!target/types/dripcast.ts
